body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-family: sans-serif;
  background: linear-gradient(#141e30, #243b55);
}

body p {
  font-size: 1em;
  line-height: 1.28;
}

#wrapper {
  width: 1080px;
  background-color: white;
  margin: 0 auto;
  padding: 10px;
  border: 5px solid #dedede;
}

#banner {
  background-image: url(../img/mainBanner.jpg);
  background-repeat: no-repeat;

  border: 5px solid #dedede;
  height: 375px;
}

#content_area {
  float: left;
  width: 770px;
  padding: 10px;
}

#content_area ul {
  margin: 10px 0px 10px 0px;
  padding: 0;
  width: 770px;
  list-style: none;
}
#content_area li {
  margin: 10px 0px 10px 0px;
  font-size: 26px;
}

#content_area a {
  text-decoration: none;
  color: black;
}

#content_area a:hover {
  color: lightblue;
}

#content_area h3,
h2 {
  text-align: center;
}

#sidebar {
  float: right;
  width: 250px;
  background-size: cover;
  margin: 20px 10px;
  border: 2px solid #e3e3e3;
}

footer {
  clear: both;
  width: auto;
  border: 3px solid #e3e3e3;
  text-align: center;
  color: #551a8b;
}

#navigation {
  height: 60px;
  border: 3px solid #e3e3e3;
  margin-top: 20px;
}

#nav {
  list-style: none;
  display: flex;
  justify-content: center;
}

#nav ul {
  margin: 0;
  padding: 0;
  width: auto;
  display: none;
}

#nav li {
  font-size: 24px;
  width: 180px;
}

#nav a {
  text-decoration: none;
}

#nav a:hover {
  color: lightblue;
}

.imgLeft {
  float: left;
  width: 240px;
  height: 150px;
  margin: 10px 10px 10px 0;
  padding: 10px;
  border-radius: 50px;
  box-shadow: 0 0 7px #666;
}

.imgRight {
  float: right;
  width: 270px;
  height: 210px;
  margin: 10px 0 10px 10px;
  padding: 10px;
  border-radius: 50px;
  box-shadow: 0 0 7px #666;
}

.backgrNews {
  background-image: url(../img/news.jpg);
  height: 300px;
}

.backgrCars {
  background-image: url(../img/cars.jpg);
  height: 400px;
}

.backgrHome {
  background-image: url(../img/home.jpg);
  height: 400px;
}

.backgrArticles {
  background-image: url(../img/article.jpg);
  height: 400px;
}

.error {
  color: red;
}

html {
  height: 100%;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.login-box a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

.btn-submit {
  display: flex;
  justify-content: center;
}
